* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --button-color: #ad343e;
  --btn-color: #000;
  --bg-color: #f9f9f7;
  --hover: #e7e2e2;
  --cards-color: #f5f0f0;
  --banner-color: #474747;
  --p-color: #2c2f24;
  --eats-color: #414536;
  --red-color: #f63440;
  --orange-color: #ff3008;
  --white: #ffffff;
  --text-color: #000000;
  --section-padding: 60px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

body.dark-theme {
  --white: #1C0F0A;
  --banner-color:#A84E18;
  --bg-color: #120D0A;
  --p-color: #ffffff;
  --cards-color:#1C0F0A;
  --black: #ffffff;
  --btn-color: #ffffff;
  --text-color: #ffffff;
  --hover: #1C0F0A;
}
section {
  padding: var(--section-padding) 0;
}
.container {
  padding: 0 15px;
  margin: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.description {
  font-size: 14px;
  padding: 10px;
  color: var(--p-color);
  margin-bottom: 20px;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.taste-features {
  background-image: url(../images/BG1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.taste-features .container img {
  width: 90px;
  position: relative;
  top: 190px;
  left: 500px;
}
.taste-features .container h2 {
  position: absolute;
  bottom: 150px;
  left: 460px;
  font-weight: normal;
  color: #fff;
  font-size: 40px;
}
@media (max-width: 991px) {
  .taste-features .container img {
    position: relative;
    left: 150px;
    top: 230px;
    width: 70px;
  }
  .taste-features .container h2 {
    position: relative;
    left: 50px;
    top: 250px;
    font-size: 27px;
  }
}
.features .feature {
  width: 330px;
}
.features .feature img {
  margin-top: 15px;
}
.features .feature h3 {
  color: var(--text-color);
  margin-top: 25px;
}
.features .feature p {
  margin-left: 40px;
}
.guests{
  background-color: var(--hover);
}
.guest-info{
  width: 500px;
  padding-top: 40px;
}
.guest-info h3{
  font-size: 45px;
  font-weight: normal;
  padding-bottom: 30px;
  color: var(--text-color);
}
.guest-info p{
  margin-bottom: none;
  padding-bottom: 40px;
}
.guests .cards{
  text-align: center;
}
.guests .cards .card{
  width: 200px;
  background-color: var(--bg-color);
  padding: 5px;
border-radius: 5px;
}
.guests .cards .card h4{
  font-size: 30px;
  padding-top: 40px;
  color: var(--text-color);
}
.guests .guests-img img{
  border-radius: 15px;
}
@media (max-width: 991px){
  .guests .guests-img img{
    display: none;
  }
}
.customers h2{
margin: auto;
}
.customers .cards {
  padding-left: 70px;
}
@media (max-width: 991px){
  .customers .cards {
    padding-left: 0px;
  }
}
.footer-description {
  color: var(--secondary-color);
  line-height: 1.6;
  margin-bottom: 10px;
}
.footer {
  background-color: var(--banner-color);
  color: var(--white);
  padding: 60px 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  flex-wrap: wrap;
}

.footer-about {
  flex: 2;
  min-width: 300px;
  max-width: 400px;
}
.footer-about img {
  width: 46px;
  height: 44px;
  position: relative;
  top: -10px;
}

.footer-logo {
  font-size: 28px;
  font-weight: 400;
}

.footer-description {
  color: var(--secondary-color);
  line-height: 1.6;
  margin-bottom: 10px;
}
.footer-about .icons .icon img {
  padding: 6px;
  width: 25px;
  height: 25px;
  background-color: var(--button-color);
  border-radius: 50%;
}

.footer-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.footer-heading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: var(--accent-color);
}

.footer-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-links li {
  margin-bottom: 20px;
}

.footer-links a {
  color: var(--white);
  transition: color 0.3s;
}


.footer-bottom {
  margin-top: 60px;
  text-align: center;
  color: var(--secondary-color);
  padding-top: 20px;
  border-top: 1px solid #ddd;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.instagram-placeholder{
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.instagram-placeholder img {
  width: calc(50% - 5px); 
  height: auto;
  object-fit: cover;
  border-radius: 4px; 
}


@media (max-width: 768px) {
  .footer-section,
  .footer-about {
      flex: 100%;
      min-width: 100%;
  }
}