* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --button-color: #ad343e;
  --btn-color: #000;
  --bg-color: #f9f9f7;
  --hover: #e7e2e2;
  --cards-color:#f5f0f0;
  --banner-color: #474747;
  --p-color: #2c2f24;
  --eats-color: #414536;
  --red-color: #f63440;
  --orange-color: #ff3008;
  --white: #ffffff;
  --text-color: #000000;
  --section-padding: 60px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

body.dark-theme {
  --white: #1b1a35;
  --banner-color:#bdb1b1;
  --bg-color: #18162c;
  --p-color: #ffffff;
  --cards-color:#1b1a35;
  --black: #ffffff;
  --btn-color: #ffffff;
  --text-color: #ffffff;
  --hover: #18162c;
}
section {
  padding: var(--section-padding) 0;
}
.container {
  padding: 0 15px;
  margin: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.description {
  font-size: 14px;
  padding: 10px;
  color: var(--p-color);
  margin-bottom: 20px;
  line-height: 1.5;
}
.text-center {
  text-align: center;
} 
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.book-table  .book-info{
text-align: center;
margin: auto;
padding: 50px 0;
width: 100%;
height: 450px;
}
.book-table  .book-info h2 {
  margin: auto;
  font-size: 50px;
  font-weight: 400;
}

.map-img img{
  width: 1340px;
  padding: 0;
  margin: 0;
  height: 440px;
}
@media (max-width: 991px) {
  .map-img img{
    width: 100%;
    height: 300px;
  }
  .book-table  .book-info{
    height: 200px;
  }
}


.booking-section {
  text-align: center;
  padding: 80px 20px;
  background: #f2f1ed;
}

form {
  background: var(--white);
  max-width: 600px;
  height: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 450px;
  left: 380px;
}


.booking-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.form-row input,
.form-row select {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 17px;
  font-size: 14px;
}

.booking-form button {
  background: var(--button-color);
  color: var(--white);
  border: none;
  padding: 14px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.booking-form button:hover {
  background: var(--button-color);
}
@media (max-width: 991px){
  .map-img img{
    display: none;
  } 
  form{
    position: relative;
    left: 0;
    top: 100px;
    margin-bottom: 10px;
  }
}