* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --button-color: #ad343e;
  --btn-color: #000;
  --bg-color: #f9f9f7;
  --hover: #e7e2e2;
  --cards-color: #f5f0f0;
  --banner-color: #474747;
  --p-color: #2c2f24;
  --eats-color: #414536;
  --red-color: #f63440;
  --orange-color: #ff3008;
  --white: #ffffff;
  --text-color: #000000;
  --section-padding: 60px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

body.dark-theme {
  --white: #1C0F0A;
  --banner-color:#A84E18;
  --bg-color: #120D0A;
  --p-color: #ffffff;
  --cards-color:#1C0F0A;
  --black: #ffffff;
  --btn-color: #ffffff;
  --text-color: #ffffff;
  --hover: #1C0F0A;
}
section {
  padding: var(--section-padding) 0;
}
.container {
  padding: 0 15px;
  margin: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.description {
  font-size: 14px;
  padding: 10px;
  color: var(--p-color);
  margin-bottom: 20px;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.contact-section {
  padding: 40px 20px;
  background-color: var(--bg-color);
  text-align: center;
}
.contact-section .container {
  flex-direction: column;
}
.contact-section h1 {
  font-size: 60px;
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--text-color);
}

.contact-section p {
  max-width: 600px;
  margin: 0 auto 30px;
  font-size: 1rem;
  color: #666;
}

.contact-form {
  background: var(--white);
  padding: 30px;
  max-width: 700px;
  margin: 0 auto 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.contact-lable p {
  margin-left: 10px;
  color: var(--text-color);
  font-weight: bold;
  padding-top: 30px;
}
.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
header input .toggle {
  display: none;
}
.contact-form input,
textarea {
  width: 100%;
  padding: 14px;
  border: 0.5px solid var(--hover);
  border-radius: 30px;
  font-size: 16px;
  outline: none;
}

textarea {
  border-radius: 12px;
  height: 120px;
  margin-top: 10px;
}

button {
  background-color: #a7373d;
  color: #fff;
  padding: 14px 32px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 15px;
}

button:hover {
  background-color: #8f2e34;
}

.contact-info {
  margin: auto;
  text-align: left;
  gap: 60px;
}

.contact-info h4 {
  margin-bottom: 15px;
  color: var(--text-color);
}

p span {
  color: var(--button-color);
}

.footer-section {
  flex: 1;
  min-width: 200px;
  flex-wrap: wrap;
}

.footer-about {
  flex: 2;
  min-width: 300px;
  max-width: 400px;
}
.footer-about img {
  width: 46px;
  height: 44px;
  position: relative;
  top: -10px;
}

.footer-logo {
  font-size: 28px;
  font-weight: 400;
}

.footer-description {
  color: var(--secondary-color);
  line-height: 1.6;
  margin-bottom: 10px;
}
.footer-about .icons .icon img {
  padding: 6px;
  width: 25px;
  height: 25px;
  background-color: var(--button-color);
  border-radius: 50%;
}

.footer-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.footer-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: var(--accent-color);
}

.footer-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-links li {
  margin-bottom: 20px;
}

.footer-links a {
  color: var(--white);
  transition: color 0.3s;
}

.footer-bottom {
  margin-top: 60px;
  text-align: center;
  color: var(--secondary-color);
  padding-top: 20px;
  border-top: 1px solid #ddd;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.instagram-placeholder {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.instagram-placeholder img {
  width: calc(50% - 5px);
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .footer-section,
  .footer-about {
    flex: 100%;
    min-width: 100%;
  }
}
