* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --button-color: #ad343e;
  --header-color:#fff;
  --btn-color: #000;
  --bg-color: #f9f9f7;
  --hover: #e7e2e2;
  --cards-color: #f5f0f0;
  --banner-color: #474747;
  --p-color: #2c2f24;
  --eats-color: #414536;
  --red-color: #f63440;
  --orange-color: #ff3008;
  --white: #ffffff;
  --text-color: #000000;
  --section-padding: 60px;
  --background-img: url(../images/bg.png);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body.dark-theme {
  --white: #1c0f0a;
  --header-color:#000;
  --banner-color: #683211;
  --bg-color: #120d0a;
  --p-color: #ffffff;
  --cards-color: #1c0f0a;
  --black: #ffffff;
  --btn-color: #ffffff;
  --text-color: #ffffff;
  --hover: #1c0f0a;
  --background-img: url(../images/bg-dark.png);
}
section {
  padding: var(--section-padding) 0;
}
.container {
  padding: 0 15px;
  margin: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.description {
  font-size: 14px;
  padding: 10px;
  color: var(--p-color);
  margin-bottom: 20px;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.banner {
  background-color: var(--banner-color);
  height: 40px;
  overflow: hidden;
  padding: 5px 0;
}
.banner .container {
  justify-content: space-between;
  padding: 3px 20px;
}
.banner .phone a{
  font-size: 13px;
  color: var(--white);
  letter-spacing: 2px;
    margin-left: 20px;

}
.banner .phone a span{
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
  bottom: 5px;
}
.banner img {
  width: 20px;
  height: 20px;
}
.icons .icon img {
  margin-left: 10px;
  width: 23px;
}
@media (max-width: 991px) {
  .banner {
    width: 100%;
  }
  .banner .icon img {
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    background-color: var(--white);
  }
  .banner p{
    position: relative;
    bottom: 10px;
  }
}
header {
  background-color: var(--white);
  position: sticky;
  top: 0;
  padding: 20px;
  z-index: 10;
  border-bottom: 1px solid var(--border);
}
nav .container {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.nav-link.active {
  color: var(--banner-color);
  border-bottom: 1px solid var(--banner-color);
}

nav .container .logo a  {
  font-size: 25px;
  color: var(--text-color);
  font-weight: 400;
  font-family: serif;
}
nav .container .logo img {
  width: 30px;
}

nav .container input {
  appearance: none;
}
header .container ul {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}
header .container ul li .book {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid;
  border-radius: 20px;
  margin-left: 100px;
  cursor: pointer;
}
header .container ul li .book:hover {
  border: none;
  color: var(--white);
    border: 1px solid;

  background-color: var(--button-color);
}
header .container .moon {
  width: 40px;
}
header .container ul li a:hover {
  cursor: pointer;
  color: var(--banner-color);
  border-bottom: 1px solid var(--banner-color);
}
header label img {
  display: none;


}

header .container ul li a {
  font-size: 18px;
  color: var(--black);
}
@media (max-width: 991px) {
  header .container ul {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px 40px;
    background-color: var(--white);
    border: 1px solid rgb(0 0 0 / 0.1);
  }
  header .container img {
    width: 40px;
    position: absolute;
    top: 0;
  }
  header .container .logo img {
    width: 30px;
    position: absolute;
    top: -3px;
    left: -10px;
  }
  header .container ul {
    border-radius: 15px;
    height: 330px;
    width: 100%;
  }
  header .container ul li {
    padding: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }
  header .container ul li .book {
    padding: 10px;
    font-size: 13px;
    position: relative;
    right: 110px;
    border: 1px solid rgb(0 0 0 / 0.3);
  }
  header .container ul li:last-child {
    border-bottom: none;
  }
  header .container .moon {
    width: 35px;
    position: absolute;
    bottom: 8px;
    right: 70px;
  }
  header label img {
    display: block;
    position: absolute;
    width: 30px;
    right: 10px;
        bottom: 30px;
    cursor: pointer;
  }
  header .container input:checked + ul {
    display: block;
  }
  header .container ul li a {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 0;
  }
}
.hero {
  background-image: var(--background-img);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.hero .container {
  display: var(--section-padding);
  text-align: center;
}
.hero .container h1 {
  color: var(--text-color);
  font-size: 80px;
  font-family: serif;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 20px;
}
.hero .container .btn1 {
  padding: 15px 20px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: var(--button-color);
  color: var(--p-color);
  cursor: pointer;
}
.hero .container .btn {
  padding: 15px 20px;
  border-radius: 25px;
  outline: none;
  border: 1px solid;
  cursor: pointer;
}
@media (max-width: 991px) {
  .hero {
    background-image: none;
    background-color: var(--bg-color);
  }
}
.menu {
  text-align: center;
  color: var(--text-color);
  padding: var(--section-padding);
}
.menu h2 {
  font-size: 45px;
  font-weight: 400;
  margin: auto;
}
.menu .cards {
  padding: 80px 0px;
}
.menu .cards .card {
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--hover);
  background-color: var(--white);
box-shadow: rgba(228, 226, 226, 0.2) 0px 2px 8px 0px;
margin-left: 5px;
}
.menu .cards .card .exmenu {
  font-size: 15px;
  font-weight: 400;
  color: var(--button-color);
  margin-bottom: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 991px) {
.menu .cards .card{
  position: relative;
  right: 30px;
}
}
@media (max-width: 991px) {
}
.about {
  position: relative;
  background-color: var(--hover);
}
.about .container {
  justify-content: space-between;
  gap: 30px;
}
.about-img {
  padding: 10px;
  line-height: 1.5;
}
.about-inv {
  background-color: var(--banner-color);
  width: 411px;
  padding: 20px;
  border-radius: 15px;
  color: var(--hover);
}
.about h5 {
  color: var(--white);
  font-size: 16px;
  padding-bottom: 30px;
}
.about-inv {
  position: absolute;
  bottom: 100px;
  left: 400px;
}
.about-inv img {
  width: 20px;
  height: 30px;
}
.about-inv p {
  padding-bottom: 25px;
}
.about-inv h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .about {
    margin: auto;
    width: 100%;
  }
  .about-img img {
    width: 300px;
  }
  .about-inv {
    position: absolute;
    left: 40px;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    color: var(--hover);
  }
  .about-inv img {
    width: 20px;
    height: 30px;
  }
  .about-inv p {
    padding-bottom: 25px;
  }
  .about-inv h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .about-info p {
    font-size: 10px;
  }
  .about-info {
    display: none;
  }
}
.about-info {
  width: 400px;
  padding-top: 60px;
}
.about-info h2 {
  font-size: 40px;
  font-weight: 400;
  color: var(--text-color);
}
.about-info button {
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid;
  border-radius: 50px;
  margin-left: 10px;
  cursor: pointer;
  background: transparent;
  color: var(--text-color);
}
.about-info button:hover{
  background-color: var(--banner-color);
  color: var(--black);
}
.service {
  padding: var(--section-padding);
}
.service h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
  margin-left: 40px;
  color: var(--text-color);
}
.service .cards {
  margin-left: 40px;
  justify-content: center;
}
.service .cards .card img {
  width: 250px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.service .cards .card  .birthday{
  width: 250px;
  height: 260px;
}
.service .cards .card  .wedding{
width: 262px;
height: 260px;
}
.service .cards .card {
  width: 250px;
  background-color: var(--cards-color);
  box-shadow: .5px solid var(--btn-color);
}
.service .cards .card h5 {
  font-size: 20px;
  font-weight: 400;
  padding:0 10px;
  color: var(--text-color);
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .service .container h2 {
    width: 500px;
    font-size: 40px;
  }
  .service .cards  {
    margin: auto;
    position: relative;
    right: 20px;
  }
  .service .cards .card img {
    width: 250px;
  }
  .service .cards .card p {
    width: 200px;
  }
}
.delivery {
  padding: var(--section-padding);
  margin: auto;
}
.delivery .delivery-img .image1 {
  height: 600px;
}
.images2 {
  width: 200px;
  height: 240px;
  padding-top: 80px;
}
.images2 .shrimp {
  height: 290px;
  width: 200px;
  border-radius: 10px;
}
.images2 .meat {
  width: 200px;
  height: 240px;
  border-radius: 10px;
}
.delivery-info {
  width: 350px;
  padding-top: 150px;
}
.delivery-info p {
  padding-top: 10px;
}
.delivery-info h3 {
  font-size: 50px;
  font-weight: normal;
  color: var(--text-color);
}
.delivery-icons .icon {
  padding-top: 20px;
}
.delivery-icons .icon p {
  color: var(--text-color);
}
@media (max-width: 991px) {
  .delivery .container .delivery-img .image1 img {
    width: 200px;
    margin: none;
  }
  .delivery-info {
    width: 200px;
    position: relative;
    top: 180px;
    margin-bottom: 100px;
  }
  .delivery-info h3 {
    font-size: 30px;
    width: 100%;
  }
  .delivery-icons .icon {
    gap: 0px;
  }
  .delivery-icons .icon p {
    position: relative;
    bottom: 45px;
    left: 50px;
  }
}
.customers h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 50px;
  margin: auto;
  color: var(--text-color);
}
.customers .cards .card p {
  border-bottom: 1px solid var(--hover);
}
.customers .cards .card {
  background-color: var(--cards-color);
  padding: 20px 10px;
  border-radius: 10px;
  margin-left:40px ;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.customers .user-info h5 {
  color: var(--text-color);
}
.customers .cards .card h4 {
  color: var(--button-color);
  font-size: 20px;
  padding-bottom: 5px;
}
.cards .card {
  width: 300px;
  margin: auto;
}
@media (max-width: 991px) {
  .customers h2 {
    padding-top: 100px;
  }
  .customers .cards .card {
    width: 200px;
  }
  .customers .user-info h5 {
    font-size: 12px;
  }
  .customers .cards .card h4 {
    font-size: 15px;
  }
}
.blog {
  background-color: var(--hover);
}

.blog-header {
  justify-content: space-between;
  gap: 350px;
  align-items: center;
}

.blog-header h2 {
  font-size: 36px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.blog-header button {
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-left: 170px;
  padding: 15px 28px;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--button-color);
}

.blog-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card2 {
  background: var(--bg-color);
  border-radius: 16px;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.card2 img {
  width: 100%;
  height: auto;
  display: block;
}

.card2 .text {
  padding: 15px;
}

.card2 .text .date {
  font-size: 13px;
  color: #888;
  margin-bottom: 8px;
}

.card2 .text h3 {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 30px;
  padding-top: 15px ;
}

.card2 .text p {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}

.card2.large {
  flex: 1;
  height: 690px;
  min-width: 300px;
}

.right-cards {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card2.small {
  width: calc(50% - 10px);
}
@media (max-width: 991px) {
  .blog-header {
    flex-wrap: wrap;
    gap: 20px;
  }
  .blog-header button {
    margin: auto;
  }
  .card2.large {
    height: 500px;
  }
}
.footer {
  background-color: var(--banner-color);
  color: var(--white);
  padding: 60px 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  flex-wrap: wrap;
}

.footer-about {
  flex: 2;
  min-width: 300px;
  max-width: 400px;
}
.footer-about img {
  width: 46px;
  height: 44px;
  position: relative;
  top: -10px;
}

.footer-logo {
  font-size: 28px;
  font-weight: 400;
}

.footer-description {
  color: var(--secondary-color);
  line-height: 1.6;
  margin-bottom: 10px;
}
.footer-about .icons .icon img {
  padding: 6px;
  width: 25px;
  height: 25px;
  background-color: var(--button-color);
  border-radius: 50%;
}

.footer-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.footer-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: var(--accent-color);
}

.footer-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-links li {
  margin-bottom: 20px;
}

.footer-links a {
  color: var(--white);
  transition: color 0.3s;
}

.footer-bottom {
  margin-top: 60px;
  text-align: center;
  color: var(--secondary-color);
  padding-top: 20px;
  border-top: 1px solid #ddd;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.instagram-placeholder {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.instagram-placeholder img {
  width: calc(50% - 5px);
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .footer-section,
  .footer-about {
    flex: 100%;
    min-width: 100%;
  }
}
