* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --button-color: #ad343e;
  --btn-color: #000;
  --bg-color: #f9f9f7;
  --hover: #e7e2e2;
  --cards-color:#f5f0f0;
  --banner-color: #474747;
  --p-color: #2c2f24;
  --eats-color: #414536;
  --red-color: #f63440;
  --orange-color: #ff3008;
  --white: #ffffff;
  --text-color: #000000;
  --section-padding: 60px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

body.dark-theme {
  --white: #1b1a35;
  --banner-color:#bdb1b1;
  --bg-color: #18162c;
  --p-color: #ffffff;
  --cards-color:#1b1a35;
  --black: #ffffff;
  --btn-color: #ffffff;
  --text-color: #ffffff;
  --hover: #18162c;
}
section {
  padding: var(--section-padding) 0;
}
.container {
  padding: 0 15px;
  margin: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.description {
  font-size: 14px;
  padding: 10px;
  color: var(--p-color);
  margin-bottom: 20px;
  line-height: 1.5;
}
.text-center {
  text-align: center;
} 
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.menu {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  font-family: 'Segoe UI', sans-serif;
}
.menu .container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.menu h2 {
  font-size: 48px;
  color: #222;
  margin-bottom: 10px;
  margin: auto;
}

.menu p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  max-width: 600px;
  margin: auto ;
}

.our-menu{
  margin: auto;
}
.tab {
  padding: 8px 20px;
  border: 1px solid #ccc;
  border-radius: 999px;
  background-color: transparent;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab:hover {
  background-color: #f2f2f2;
}

.tab.active {
  background-color: #a52a2a;
  color: #fff;
  border-color: transparent;
}