* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --button-color: #ad343e;
  --btn-color: #000;
  --bg-color: #f9f9f7;
  --hover: #e7e2e2;
  --cards-color: #f5f0f0;
  --banner-color: #474747;
  --p-color: #2c2f24;
  --eats-color: #414536;
  --red-color: #f63440;
  --orange-color: #ff3008;
  --white: #ffffff;
  --text-color: #000000;
  --section-padding: 60px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

body.dark-theme {
  --white: #1C0F0A;
  --banner-color:#A84E18;
  --bg-color: #120D0A;
  --p-color: #ffffff;
  --cards-color:#1C0F0A;
  --black: #ffffff;
  --btn-color: #ffffff;
  --text-color: #ffffff;
  --hover: #1C0F0A;
}
section {
  padding: var(--section-padding) 0;
}
.container {
  padding: 0 15px;
  margin: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.description {
  font-size: 14px;
  padding: 10px;
  color: var(--p-color);
  margin-bottom: 20px;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.menu {
  text-align: center;
  padding: 50px 20px;
  background-color: var(--bg-color);
  font-family: "Segoe UI", sans-serif;
}
.menu .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu h2 {
  font-size: 48px;
  color: var(--text-color);
  margin-bottom: 10px;
  margin: auto;
}

.menu p {
  font-size: 14px;
  color: var(--p-color);
  line-height: 1.6;
  max-width: 600px;
  margin: auto;
}

.our-menu {
  margin: auto;
}
.tab {
  padding: 8px 20px;
  border: 1px solid #ccc;
  border-radius: 999px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab:hover {
  background-color: var(--hover);
}

.tab.active {
  background-color: var(--button-color);
  color: var(--white);
  border-color: transparent;
}

.menu-food {
  padding: 40px 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.menu-card {
  width: 250px;
  background: var(--white);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  margin: auto;
}
.menu-card:hover {
  transform: translateY(-5px);
}
.menu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  padding: 15px;
  text-align: center;
}
.card-body h3 {
  color: #d23f3f;
  font-size: 18px;
  margin-bottom: 5px;
}
.card-body h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
  color: var(--text-color);
}
.card-body p {
  font-size: 13px;
  color: #666;
  line-height: 1.5;
}
.order-app{
  background-color: var(--hover);
}
.order-info{
  padding-top: 50px;
  margin: auto;
}
.order-info h2{
  color: var(--text-color);
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 10px;
}
.apps{
  width: 800px;
  gap: 5px;
}
.apps .app{
  width: 200px;
  margin: 0;
}
.apps .app .uber img{
  position: relative;
  bottom: 100px;
  margin: auto;
  left: 80px;
  width: 110px;
}
.apps .app  img{
  width: 270px;
}
.footer {
  background-color: var(--banner-color);
  color: var(--white);
  padding: 60px 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  flex-wrap: wrap;
}

.footer-about {
  flex: 2;
  min-width: 300px;
  max-width: 400px;
}
.footer-about img {
  width: 46px;
  height: 44px;
  position: relative;
  top: -10px;
}

.footer-logo {
  font-size: 28px;
  font-weight: 400;
}

.footer-description {
  color: var(--secondary-color);
  line-height: 1.6;
  margin-bottom: 10px;
}
.footer-about .icons .icon img {
  padding: 6px;
  width: 25px;
  height: 25px;
  background-color: var(--button-color);
  border-radius: 50%;
}

.footer-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.footer-heading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: var(--accent-color);
}

.footer-links {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-links li {
  margin-bottom: 20px;
}

.footer-links a {
  color: var(--white);
  transition: color 0.3s;
}


.footer-bottom {
  margin-top: 60px;
  text-align: center;
  color: var(--secondary-color);
  padding-top: 20px;
  border-top: 1px solid #ddd;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.instagram-placeholder{
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.instagram-placeholder img {
  width: calc(50% - 5px); 
  height: auto;
  object-fit: cover;
  border-radius: 4px; 
}


@media (max-width: 768px) {
  .footer-section,
  .footer-about {
      flex: 100%;
      min-width: 100%;
  }
}